/* styling settings */

// Font Colors
$reach-blue: #0088c7;
$reach-orange: #ffa73d;

$menu-active: #0088c7;
$menu-font: #232323;
$footer-widget-links: #0055a5;
$footer-widget-titles: #479ffd; // #9dceef;
// Background colors:
$footer-bottom-bkg: #9dceef;

// special colors
$cf7-success-color: #000;
$cf7-success-background: #57f14e;
$top-cta-bkg: #4e72b0;
$top-cta-font: #faf3e6;
$bottom-cta-bkg: rgba(78,114,176,0.22);
$button-color: #FFCC66;
