// styling for media

@media (max-width:980px) { // header mobile breakpoint
  .logo_container {
    height: 150px;
    #logo { // make logo bigger at mobile & tablet sizes
      //height: 150px;
      max-height: 150px!important;
    }
  }
  #et_mobile_nav_menu {
    .mobile_menu_bar_toggle:before {
      color: $antcar-bright-blue;
    }
    .mobile_menu_bar_toggle {
      background: white;
      top: 1px;
      right: 1px;
    }
    .menu-item-has-children>a {
      background-color: $antcar-soft-blue;
    }
  }
}

@media (max-width: 767px) {
  #top-header {
    #et-info .et-social-icons {
      display: inline-block; // show facebook at mobile
    }
  }
}
